

.component-link-block {
  padding: 45px 0 40px;
  background: url(../../images/jpg/contact-header.jpg) center top no-repeat;
  background-size: cover;

  h2 {
    padding-bottom: 20px;
    color: $white;
  }



}