.faq-wrapper {

  text-align: center;
  background-color: $brandoffwhite;

  .faq-all-button {
    display: inline-block;
    background: #fff;
    margin: 40px auto;
    padding: 5px 10px;
    border: 1px solid #199bd7;
    border-radius: 20px;
    text-decoration: none;

    &:hover {

      background: $brandblue;
      color: $white;
      border:1px solid $white;

    }

  }

  .faq-list {

    .faq-list-item {

      position: relative;
      padding:15px 15px;
      margin: 0 auto;
      border: 1px solid $brandlightergrey;
      color: $brandblue;
      background-color: $white;
      cursor: pointer;

      .faq-list-item-title {
        
        display: block;
        
      } // END OF FAQ-LIST-ITEM-TITLE

      .faq-svg-target {
        
        display: block;
        text-align: center;
        margin: 10px auto 0;
        
      } // END OF FAQ-SVG-TARGET

      .faq-post-content {
        
        display: block;
        overflow: hidden;
        height:0;
        max-width:600px;
        margin: 0 auto;
        text-align: center;
        color: $black;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        
      } // END OF FAQ-POST-CONTENT

      .faq-full-height {
        
        height:200px;
        padding:15px 10px;
        
      } // END OF FAQ-FULL-HEIGHT

    } // END OF FAQ-LIST-ITEM

  } // END OF FAQ-LIST

} // END OF FAQ-WRAPPER

@include breakpointsmall {

  .faq-wrapper {

    .faq-list {

      .faq-list-item {

        svg {
          
          position: absolute;
          top: 11px;
          right: 20px;
          
        } // END OF FAQ-LIST-ITEM/SVG

      } // END OF FAQ-LIST-ITEM

    } // END OF FAQ-LIST

  } // END OF FAQ-WRAPPER

} // END OF BREAK-POINT-SMALL