.site-header {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 0 15px;
  text-align: left;
  background: $white;


  .site-title {
    max-width: 100px;
    height: 80px;
    padding: 15px 0;

    a {

      display: block;

      img {
        width: 100%;
        height: 100%;
      }

    }

  }
}