
/* Core Page
============ */

html {
  font-size: 62.5%;
}

body {
  @include bodyfont;
  font-size: 1em;
  line-height: $extrasmallbodylineheight;
  letter-spacing: -0.1em;
  background: $white;
  color: $bodydarkpurple;
}


a {
  font-size: $bodycopy;
  color: $logored;
  text-decoration: none;
  &:hover, &:focus {
    color: $bodydarkpurple;
    text-decoration: none;
  }
}

.navigation-link {
  display: inline-block;
  line-height: $linklineheight;
  color: $bodydarkpurple;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background: transparent;
  }
  &:hover, &:focus {
    color: $bodydarkpurple;
    &:after {
      background: $logored;
    }
  }

}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $bodydarkpurple;
}

::selection {
  color: $white;
  background: $bodydarkpurple;
}



/* Body Content
=============== */


h1 {
  @include brandheadingh1;
}

h2 {
  @include brandheadingh2;
  letter-spacing: 0;
}

h3 {
  @include brandheadingh3;
  letter-spacing: 0;
}

h4 {
  @include brandheadingh4;
  letter-spacing: 0;
}

p {
  padding: $extrasmallbodypadding;
  font-size: $bodycopy;
}

ul {
  font-size: $bodycopy;
}


li {
  font-size: $bodycopy;
}

span {
  font-size: $bodycopy;
}

button {
  @include brandbutton;
}

.btn-default {
  svg {
    margin-left: 20px;
    font-size: 1.6rem;
  }
}



/* Custom Classes
================= */

.page-header {
  padding: 40px 0;
}

.sub-title {
  @include brandheadingh2;
}


/* Media Queries
================ */

@include breakpointextrasmall {

  body {
    line-height: $smallbodylineheight;
  }


  p {
    padding: $smallbodypadding;
  }

}


@include breakpointsmall {

  body {
    line-height: $bodylineheight;
  }

  p {
    padding: $bodypadding;
  }

}

