@font-face {
  font-family: 'okomito';
  src: url('okomito.eot'); /* IE9 Compat Modes */
  src: url('okomito.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('okomito.woff2') format('woff2'), /* Super Modern Browsers */
  url('okomito.woff') format('woff'), /* Pretty Modern Browsers */
  url('okomito.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('okomito.svg#svgFontName') format('svg'); /* Legacy iOS */
}