
/* Breakpoints
============== */


@mixin breakpointextrasmall {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin breakpointsmall {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin breakpointmedium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin breakpointlarge {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}


/* Absolute Centre
================== */

@mixin absolutecentre($width, $height) {

  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: $width;
  height: $height;
  margin: auto;

}


/* Clearfix
=========== */

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}


/* Buttons
========== */

@mixin brandbutton {

  height: 58px;
  padding: 0 30px;
  border-radius: 28px;
  text-align: center;
  font-size: $bodycopy;
  border: 2px solid $logored;
  background: $logored;
  color: $white;
  transition: 150ms;
  cursor: pointer;
  &:hover, &:focus, &:active {

    background: transparent;
    color: $logored;

  }

}

/* Inputs
========= */

@mixin brandinput {

  padding: 2px 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  font-size: $bodylarge;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

}


/* Text Styles
============== */

@mixin brandheadingh1 {
  padding: $extrasmallheadingonepadding;
  font-size: $extrasmallheadingone;
  font-family: $headingfontfamily;
  line-height: $extrasmallheadingonelineheight;
  color: $white;
  @include breakpointextrasmall {
    padding: $smallheadingonepadding;
    line-height: $smallheadingonelineheight;
  }
  @include breakpointsmall {
    padding: $headingonepadding;
    font-size: $headingone;
    font-weight: normal;
    line-height: $headingonelineheight;

  }
}

@mixin brandheadingh2 {
  padding: $extrasmallheadingtwopadding;
  font-size: $extrasmallheadingtwo;
  font-family: $headingfontfamily;
  line-height: $extrasmallheadingtwolineheight;
  font-weight: normal;
  color: $logodarkblue;
  @include breakpointextrasmall {
    padding: $smallheadingtwopadding;
    line-height: $smallheadingtwolineheight;
  }
  @include breakpointsmall {
    padding: $headingtwopadding;
    font-size: $headingtwo;
    line-height: $headingtwolineheight;

  }
}

@mixin brandheadingh3 {
  padding: $extrasmallheadingthreepadding;
  font-size: $extrasmallheadingthree;
  font-family: $headingfontfamily;
  line-height: $extrasmallheadingthreelineheight;
  font-weight: normal;
  color: $logodarkblue;
  @include breakpointextrasmall {
    padding: $smallheadingthreepadding;
    line-height: $smallheadingthreelineheight;
    font-size: $smallheadingthree;
  }
  @include breakpointsmall {
    padding: $headingthreepadding;
    font-size: $headingthree;
    line-height: $headingthreelineheight;

  }
}

@mixin brandheadingh4 {
  padding: $extrasmallheadingfourpadding;
  font-size: $headingfour;
  font-family: $headingfontfamily;
  line-height: $extrasmallheadingfourlineheight;
  font-weight: normal;
  color: $logodarkblue;
  @include breakpointextrasmall {
    padding: $smallheadingfourpadding;
    line-height: $smallheadingfourlineheight;
  }
  @include breakpointsmall {
    padding: $headingfourpadding;
    line-height: $headingthreelineheight;
  }
}


/* Fonts
======== */

@mixin bodyfont {
  font-family: $bodyfontfamily;
  font-weight: normal;
}


/* Gradients
============ */



/* Animation
============ */

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

/* Transition
============= */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
