

/* Colours
========== */

$black: #000;
$white: #fff;

$darkergrey: #212121;
$darkgrey: #333;
$lightergrey: #dedede;
$lightgrey: #ccc;

$midgrey: #9a9a9a;
$middarkgrey: #616161;
$midlightgrey: #bcbcbc;


/* Brand Colours
================ */

//Logo Colours
$logored: #ee3258;
$logodarkblue: #12294f;
$logogrey: #a4a8ac;


//Complimentary Colours
$brandcyan: #3ec2cd;
$brandyellow: #fec934;


//Elements
$bodydarkpurple: #1e1620;
$inputgrey: #a0a9b9;


/* Other Colours
================ */

$green: #6BBE98;
$teal: #26A69A;
$lightteal: #80CBC4;
$lightcyan: #80DEEA;
$lighterbggrey: #ECEAEB;

$fail: $logored;
$success: $brandcyan;



/* Fonts
======== */

//Font Family
$headingfontfamily: 'Frank Ruhl Libre', serif;
$bodyfontfamily: 'okomito', sans-serif;

//Font Sizes

//Headings Large
$headingone: 9rem;
$headingtwo: 6rem;
$headingthree: 6rem;
$headingfour: 2.8rem;
$headingfive: 2rem;

//Body Text
$bodylarge: 2rem;
$bodycopy: 1.8rem;
$navigationcopy: 1.6rem;
$footercopy: 1.6rem;
$breadcrumb: 1.4rem;

//Headings Small
$smallheadingone: 4.5rem;
$smallheadingtwo: 4.5rem;
$smallheadingthree: 3rem;

//Miscellaneous
$datemonth: 2rem;
$dateday: 3.4rem;
$linklineheight: 1.4rem;


/* Spacing
========== */

//Large Screens

$entrypaddding: 6.5rem 0 7.5rem;

$headingonepadding: 0 0 5.3rem;
$headingtwopadding: 0 0 4.2rem;
$headingthreepadding: 0 0 3.7rem;
$headingfourpadding: 0 0 3.3rem;

$bodylargepadding: 0 0 3.1rem;
$bodypadding: 0 0 3rem;


$headingonelineheight: 9.6rem;
$headingtwolineheight: 12rem;
$headingthreelineheight: 12rem;
$headingfourlineheight: 12rem;

$bodylargelineheight: 3.1rem;
$bodylineheight: 3rem;


//Small Screens

$smallentrypadding: 3rem 0 4rem;

$smallheadingonepadding: 0 0 4.2rem;
$smallheadingtwopadding: 0 0 3.8rem;
$smallheadingthreepadding: 0 0 3.3rem;
$smallheadingfourpadding: 0 0 3.1rem;

$smallbodylargepadding: 0 0 2.9rem;
$smallbodypadding: 0 0 2.7rem;

$smallheadingonelineheight: 4.2rem;
$smallheadingtwolineheight: 3.8rem;
$smallheadingthreelineheight: 3.3rem;
$smallheadingfourlineheight: 3.1rem;

$smallbodylargelineheight: 2.9rem;
$smallbodylineheight: 2.7rem;


//Extra Small Screens

$extrasmallentrypadding: 2.8rem 0 3.8rem;

$extrasmallheadingonepadding: 0 0 4.1rem;
$extrasmallheadingtwopadding: 0 0 3.6rem;
$extrasmallheadingthreepadding: 0 0 3.1rem;
$extrasmallheadingfourpadding: 0 0 2.9rem;

$extrasmallbodylargepadding: 0 0 2.7rem;
$extrasmallbodypadding: 0 0 2.4rem;

$extrasmallheadingonelineheight: 4.1rem;
$extrasmallheadingtwolineheight: 3.6rem;
$extrasmallheadingthreelineheight: 3.1rem;
$extrasmallheadingfourlineheight: 2.9rem;

$extrasmallbodylargelineheight: 2.7rem;
$extrasmallbodylineheight: 2.4rem;




