

/* Colours
========== */

$black: #000;
$white: #fff;

$darkergrey: #212121;
$darkgrey: #333;
$lightergrey: #dedede;
$lightgrey: #ccc;

$midgrey: #9a9a9a;
$middarkgrey: #616161;
$midlightgrey: #bcbcbc;


/* Brand Colours
================ */

//Logo Colours
$brandblue: #199bd7;
$brandgreen: #65bc55;

//Neutral Colour Palette
$branddarkgrey: #666;
$brandmidgrey: #888;
$brandlightgrey: #a1a1a1;
$brandlightergrey: #eee;
$brandoffwhite: #fafafa;

//Complimentary Colours
$branddarkgreen: #199a55;
$brandlightgreen: #78dc5f;
$brandaqua: #14cac8;
$brandlightblue: #65bcd6;
$branddarkblue: #025f89;
$brandpurple: #4c2281;


/* Other Colours
================ */

$green: #6BBE98;
$teal: #26A69A;
$lightteal: #80CBC4;
$lightcyan: #80DEEA;
$lighterbggrey: #ECEAEB;

$failred: #E53935;

$selectiondarkblue: #02567E;



/* Fonts
======== */

//Font Family
$brandfontfamily: 'Source Sans Pro', sans-serif;

//Font Sizes
$headingone: 3.8rem;
$headingtwo: 2.8rem;
$headingthree: 2.4rem;
$headingfour: 2rem;

$bodylarge: 1.8rem;
$bodycopy: 1.6rem;
$breadcrumb: 1.4rem;

$smallheadingone: 3rem;
$smallheadingtwo: 2.6rem;
$smallheadingthree: 2.2rem;



/* Spacing
========== */

//Large Screens

$entrypaddding: 6.5rem 0 7.5rem;

$headingonepadding: 0 0 5.3rem;
$headingtwopadding: 0 0 4.2rem;
$headingthreepadding: 0 0 3.7rem;
$headingfourpadding: 0 0 3.3rem;

$bodylargepadding: 0 0 3.1rem;
$bodypadding: 0 0 3rem;


$headingonelineheight: 5.3rem;
$headingtwolineheight: 4.2rem;
$headingthreelineheight: 3.7rem;
$headingfourlineheight: 3.3rem;

$bodylargelineheight: 3.1rem;
$bodylineheight: 3rem;


//Small Screens

$smallentrypadding: 3rem 0 4rem;

$smallheadingonepadding: 0 0 4.2rem;
$smallheadingtwopadding: 0 0 3.8rem;
$smallheadingthreepadding: 0 0 3.3rem;
$smallheadingfourpadding: 0 0 3.1rem;

$smallbodylargepadding: 0 0 2.9rem;
$smallbodypadding: 0 0 2.7rem;

$smallheadingonelineheight: 4.2rem;
$smallheadingtwolineheight: 3.8rem;
$smallheadingthreelineheight: 3.3rem;
$smallheadingfourlineheight: 3.1rem;

$smallbodylargelineheight: 2.9rem;
$smallbodylineheight: 2.7rem;


//Extra Small Screens

$extrasmallentrypadding: 2.8rem 0 3.8rem;

$extrasmallheadingonepadding: 0 0 4.1rem;
$extrasmallheadingtwopadding: 0 0 3.6rem;
$extrasmallheadingthreepadding: 0 0 3.1rem;
$extrasmallheadingfourpadding: 0 0 2.9rem;

$extrasmallbodylargepadding: 0 0 2.7rem;
$extrasmallbodypadding: 0 0 2.4rem;

$extrasmallheadingonelineheight: 4.1rem;
$extrasmallheadingtwolineheight: 3.6rem;
$extrasmallheadingthreelineheight: 3.1rem;
$extrasmallheadingfourlineheight: 2.9rem;

$extrasmallbodylargelineheight: 2.7rem;
$extrasmallbodylineheight: 2.4rem;




